[Unit]
Description=Python Plex Control

After=network.target syslog.target

[Service]
Restart=on-failure
RestartSec=15s
ExecStart=python3 /home/$USER/Plex/local_control.py

[Install]
WantedBy=multi-user.target
