[Desktop Entry]
Type=Application
Exec=plex-htpc
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Plex
Name=Plex
Comment[en_US]=
Comment=